*.sw[op]
*.py[oc]
/bin/
/build/
/dist/
/doc/_build/
/gpg_mime.egg-info/
/gpgmime/gpg_mime.egg-info/
/include/
/lib/
/pip-selfcheck.json
/share/
/testdata/keyring/
/testproject/testproject/localsettings.py
